    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">{{ site.heading }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.description }}</span>
                 <hr>
                <div class="col-lg-4  text-left">
                    <h4> Course Communication </h4>
                    <p> We will be using <a href=https://psych7821.slack.com/ target="_blank">Slack</a> for sending announcements, collecting homeoworks, providing students with feedback, and answering question. Slack is a cloud-based team collaboration platform that supports many app integrations such as Dropbox, Google Drive, Hangouts, Trello, and Skype.</p>
                </div>
                <div class="col-lg-4 text-left">
                    <h4> Software </h4>
                    <p> We will mainly be using <a href=https://www.r-project.org/ target="_blank"> R</a> and  <a href=https://www.rstudio.com/products/rstudio/download2/RStudio target="_blank"> RStudio</a> for homework assignments. Since the university provides software licenses for  <a href=http://www-03.ibm.com/software/products/en/spss-amos target="_blank">SPSS Amos</a>, students can use Amos as an aid in completing the course assignments and also for fitting models discussed in class. Homeworks will be provided as <a href=http://rmarkdown.rstudio.com/ target="_blank">R Markdown</a> documents that you will need to weave into html documents. </p>
                </div>
                <div class="col-lg-4 text-left">
                    <h4> Grading </h4>
                    <p> Grades are calculated in accordance with student-oriented principles. Each student is encouraged to compete with himself/herself and not with each other. Class average is not computed. Homework scores are transformed into an integer from 3 to 5. For each assignment, a threshold for thorough understanding is computed, and each student who scores above that threshold earns a 5. Students who score above the threshold for adequate understanding earn a 4. Lower than that threshold gets you a 3. This <a href=http://web.mit.edu/fnl/volume/204/winston.html target="_blank">grading scheme</a> deemphasizes grades and reduces the need for grade grubbing. It also puts more weight on understanding the material. Grades will be posted on <a href=https://osu.instructure.com/courses/6811  target="_blank"> Carmen Canvas</a>. </p>
                </div>
                    </div>
                </div>


            </div>
        </div>

    </header>
